@import 'variables.less';
@import 'components/button.less';
@import 'components/form-control.less';
@import 'components/summary.less';
@import 'components/control-group.less';

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: @font-size;
	font-family: 'Helvetica Neue', 'Microsoft YaHei', 'Helvetica', 'Arial', 'sans-serif';
	line-height: 1.42857143
}


body
{
    color: #333333
}



input, button, select, textarea
{
   outline: none
}


[disabled=disabled]
{
	cursor: not-allowed
}



span.required
{
	color: @required-color
}




@import 'mixins/button.less';
@import 'mixins/form-control.less';
@import 'mixins/vendor-prefixes.less';
@import 'mixins/summary.less';
@import 'mixins/control-group.less';