@font-size:14px;
@font-weight:400;
@border-radius: 4px;
@height: 30px;





@control-border-color:#CCCCCC;
@control-border-active-color:#19A6FF;


.padding
{
	.button()
	{
		padding: 6px 12px
	}


	.form-control()
	{
		padding: 6px 12px
	}

	.summary()
	{
		padding: 15px
	}
}