.btn {
  display: inline-block;
  background-image: none;
  border: solid 1px transparent;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  padding: 6px 12px;
}
a.btn {
  text-decoration: none;
}
.form-control {
  display: block;
  width: 100%;
  height: 30px;
  border: solid 1px transparent;
  background-image: none;
  vertical-align: middle;
  border-radius: 4px;
  padding: 6px 12px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.summary {
  display: block;
  border: solid 1px transparent;
  border-radius: 4px;
  padding: 15px;
}
.summary p {
  font-weight: 400;
  padding-bottom: 5px;
  font-size: 15px;
}
.summary ul {
  margin-left: 25px;
}
.summary ul li {
  height: 20px;
  line-height: 20px;
}
.control-group {
  display: table;
  padding: 15px 0;
}
.control-group > .control-label,
.control-group > .controls {
  float: left;
  line-height: 20px;
}
.control-group > .control-label {
  width: 100px;
  padding: 5px 10px 0 0;
  text-align: right;
}
.control-group > .controls > .form-control {
  width: 220px;
}
.control-group > .controls > .alert {
  padding: 5px 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Helvetica Neue', 'Microsoft YaHei', 'Helvetica', 'Arial', 'sans-serif';
  line-height: 1.42857143;
}
body {
  color: #333333;
}
input,
button,
select,
textarea {
  outline: none;
}
[disabled=disabled] {
  cursor: not-allowed;
}
span.required {
  color: #d4211c;
}
.btn {
  border-color: transparent;
  background-color: #2e76e1;
  color: #ffffff;
}
.btn:hover {
  border-color: transparent;
  background-color: #1460d1;
  color: #ffffff;
}
.btn-primary {
  border-color: #cccccc;
  background-color: #ffffff;
  color: #666666;
}
.btn-primary:hover {
  border-color: #cccccc;
  background-color: #f6f6f6;
  color: #666666;
}
.btn-success {
  border-color: transparent;
  background-color: #5cb85c;
  color: #ffffff;
}
.btn-success:hover {
  border-color: transparent;
  background-color: #419a41;
  color: #ffffff;
}
.btn-info {
  border-color: transparent;
  background-color: #18d6a6;
  color: #ffffff;
}
.btn-info:hover {
  border-color: transparent;
  background-color: #19bb92;
  color: #ffffff;
}
.btn-warning {
  border-color: transparent;
  background-color: #f6a03c;
  color: #ffffff;
}
.btn-warning:hover {
  border-color: transparent;
  background-color: #f0850c;
  color: #ffffff;
}
.btn-error {
  border-color: transparent;
  background-color: #d9534f;
  color: #ffffff;
}
.btn-error:hover {
  border-color: transparent;
  background-color: #c32f2b;
  color: #ffffff;
}
.btn[disabled=disabled] {
  border-color: #E2E2E2;
  background-color: #FAFAFA;
  color: #c0c0c0;
}
.form-control {
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #777777;
}
.form-control:focus {
  border-color: #008ce5;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7fcdff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7fcdff;
}
.summary-error {
  background-color: #F2DEDE;
  border-color: #D4AAAA;
  color: #b94a48;
}
.control-group.error {
  color: #bf1e19;
}
.control-group.error .form-control {
  border-color: #da3531;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #777777;
}
.control-group.error .form-control:focus {
  border-color: #b72421;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ea8a87;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ea8a87;
}
.control-group.success .form-control {
  border-color: #80c53f;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  color: #777777;
}
.control-group.success .form-control:focus {
  border-color: #67a130;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #b4dd8d;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #b4dd8d;
}
